<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvmap.news"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 您从百度网站获取的APP KEY -->
    <meta-data
        android:name="BaiduMobAd_STAT_ID"
        android:value="cca32c4ac0" />
    <!-- 渠道商编号 -->
    <meta-data
        android:name="BaiduMobAd_CHANNEL"
        android:value="AppChina" />

    <!-- 是否开启错误日志统计，默认为false -->
    <meta-data
        android:name="BaiduMobAd_EXCEPTION_LOG"
        android:value="true" />
    <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
    <meta-data
        android:name="BaiduMobAd_SEND_STRATEGY"
        android:value="APP_START" />
    <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
    <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
    <!-- 日志仅在wifi网络下发送，默认为false -->
    <meta-data
        android:name="BaiduMobAd_ONLY_WIFI"
        android:value="false" />
    <!-- 是否获取基站位置信息 ,默认为true -->
    <meta-data
        android:name="BaiduMobAd_CELL_LOCATION"
        android:value="true" />
    <!-- 是否获取GPS位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_GPS_LOCATION"
        android:value="true" />
    <!-- 是否获取WIFI位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_WIFI_LOCATION"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="com.mvmap.activity.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mvmap.activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.mvmap.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.mvmap.activity.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.mvmap.activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity><activity android:name="com.mvmap.activity.DetailActivity">
        </activity>
    </application>

</manifest>